---
import Layout from "../layouts/Layout.astro";
import ServiceCard from "../components/ServiceCard.astro";
import company from "../assets/company.svg";
import fda from "../assets/fda.svg";
import industry from "../assets/industry.svg";
import labour from "../assets/labour.svg";
import payroll from "../assets/payroll.svg";
import tax from "../assets/tax.svg";
import trade from "../assets/trade.svg";
import Title from "../components/Title.astro";
import SingleService from "../components/SingleService.astro";
import TestimonialCard from "../components/TestimonialCard.astro";

// services
interface servicesInterface {
  icon: string;
  title: string;
  desc: string;
}

const services: Array<servicesInterface> = [
  {
    icon: company,
    title: "Company Law",
    desc: "We can help your business obtain industry registration to avail a host of benefits.",
  },
  {
    icon: industry,
    title: "Industry Law",
    desc: "We can help your business obtain industry registration to avail a host of benefits.",
  },
  {
    icon: labour,
    title: "Labour Law",
    desc: "We can help your business obtain industry registration to avail a host of benefits.",
  },
  {
    icon: payroll,
    title: "Payroll Management",
    desc: "We can help your business obtain industry registration to avail a host of benefits.",
  },
  {
    icon: fda,
    title: "FDA Consultants",
    desc: "We can help your business obtain industry registration to avail a host of benefits.",
  },
  {
    icon: tax,
    title: "Tax Consultants",
    desc: "We can help your business obtain industry registration to avail a host of benefits.",
  },
  {
    icon: trade,
    title: "Trade Licence",
    desc: "We can help your business obtain industry registration to avail a host of benefits.",
  },
];

// single service
interface singleServiceInterface {
  to: string;
  text: string;
}

const singleServices: Array<singleServiceInterface> = [
  // company law starts
  {
    to: "/companylaw",
    text: "Public Limited Company",
  },
  {
    to: "/companylaw",
    text: "Private Limited Company",
  },
  {
    to: "/companylaw",
    text: "OPT Company ",
  },
  {
    to: "/companylaw",
    text: "LLP Firm    ",
  },
  {
    to: "/companylaw",
    text: "Patnership Firm ",
  },
  {
    to: "/companylaw",
    text: "Proprietorship Firm ",
  },
  {
    to: "/companylaw",
    text: "HUF Firm ",
  },
  {
    to: "/companylaw",
    text: "Society Registration",
  },
  {
    to: "/companylaw",
    text: "Trust Registration",
  },
  // company law ends
  // INDUSTRIAL LAW CONSULTANTS
  {
    to: "/industrylaw",
    text: "Industrial Property Registration",

  },
  {
    to: "/industrylaw",
    text: "Factory License Registration",

  },
  {
    to: "/industrylaw",
    text: "Udyam Adhar Registration",

  },
  {
    to: "/industrylaw",
    text: "Udyog Adhar Registration",

  },
  {
    to: "/industrylaw",
    text: "MSME Registration",

  },
  // INDUSTRIAL LAW CONSULTANTS ends
  // labour law starts
  {
    to: "/labourlaw",
    text: "Labour Law Consultants",

  },
  {
    to: "/labourlaw",
    text: "Provident Fund (PF) Registration",

  },
  // labour law starts ends
  {
    to: "/payroll",
    text: "Payroll Management Consultants",

  },
  {
    to: "/fda",
    text: "FDA Consultants",
  },
  {
    to: "/tax",
    text: "Taxation License Consultants",
  },
  {
    to: "/trade",
    text: "Trade License Consultants",
  },
];

// testimonial
interface testimonialInterface {
  name: string;
  text: string;
  image?: string;
}

const testimonials: Array<testimonialInterface> = [
  {
    name: "Akshat Atolia    ",
    text: `At Deshmukh & Co., You'll find that all work is done with professionalism, quality and in timely manner. All PF related issues were handled with best legal advise and solutions were delivered efficiently.
Surely a good connect for all your labour law and filing needs`,
  },
  {
    name: "Vikram Bhatnagar",
    text: `Professional. Efficient. Reliable.
They understands the client, very knowledgeable and are an expert in their field. Truly a professional and marvellous team. Highly recommend their services.
Great experience overall.`,
  },
  {
    name: "Hariom Raghuwanshi",
    text: `We are associated with Deshmukh & Company since 2016. We got proper solutions of our queries. We are getting good & satisfactory services from Mr. Prashant Deshmukh office.
`,
  },
  {
    name: "Harry Shukla",
    text: `Really good feel with Deshmukh & Company & Staff, My Shop Act Registration done in the committed time line. I personally recommended for any registration & license services required, please connect with Mr. Deshmukh`,
  },
  {
    name: "Gopal Sharma",
    text: `My Firm Name is SK Enterprises we have associated with Deshmukh & Company last two year for PF Compliance Working & Monthly Filing & our Staff PF withdrawal working on the time support..
I recommended to Deshmukh & Co. for PF ESIC Filing & Compliances working.`,
  },
  {
    name: "Prashant Prajapati",
    text: `I really so happy with Deshmukh & Company & Staff, we are working this Legal Consultancy Firm last 3 year, He is our all Labour Law related quires and matter solved on the time & Professional Tax Return Filing and other legal matter Regular handling..
Thanks for your services`,
  },
];
---

<Layout title="Deshmukh & Co.">
  <section class="home-wrapper px-4 h-[80vh] md:px-16 md:h-[90vh]">
    <div
      class="hero-content z-10 absolute text-pureWhite top-[42%] md:top-[50%] translate-y-[-30%]"
    >
      <h1 class="text-5xl md:text-7xl font-semibold font-serif w-[95%]">
        Legal Consultants with High Integrity & Devotion
      </h1>
      <p class="text-xl font-sans font-medium pt-7 pb-9">
        The best centre for all legal consultations
      </p>
      <button
      id="contact-btn"
        class="bg-gold p-3 text-black text-base capitalize font-medium rounded-sm hover:scale-95 ease-in transition-all"
        >Contact Us</button
      >
    </div>
  </section>

  <section class="py-12 px-4 md:px-14 text-center" id="services">
    <Title
      sansTitle="Legal Practice Areas"
      sansColor="text-darkBlue"
      serifTitle="Our Expertise"
      serifColor="text-darkBlue"
    />
    <div
      class="service-cards gap-5 mt-7 grid items-center justify-center lg:grid-cols-4 mx-auto md:grid md:grid-cols-3"
      id="service-cards"
    >
      <p
        class="text-darkBlue font-sans text-3xl font-semibold w-60 text-left p-3  hidden md:block"
      >
        Unmatched Services Unmatched Excellence
      </p>
      {
        services.map((s) => {
          return <ServiceCard icon={s.icon} title={s.title} desc={s.desc} />;
        })
      }
    </div>
  </section>
  <section
    class="bg-darkBlue h-auto w-full text-center py-12 px-4 md:px-14"
  >
    <Title
      sansTitle="Services Offered"
      sansColor="text-pureWhite"
      serifColor="text-gold"
      serifTitle="Our Services"
    />
    <div
    id="services"
      class="single-services mt-7 grid items-center justify-center lg:grid-cols-4 gap-7 mx-auto md:grid-cols-2 md:justify-items-center md:items-center"
    >
      {
        singleServices.map((ss) => {
          return <SingleService to={ss.to} text={ss.text} />;
        })
      }
    </div>
  </section>
  <section
    id="testimonials"
    class="testimonial-wrapper bg-pureWhite h-auto w-full text-center py-6 md:py-12  px-4 md:px-14 overflow-y-hidden overflow-x-hidden my-0"
  >
    <Title
      sansTitle="What Clients Say"
      sansColor="text-darkBlue"
      serifTitle="Our Testimonials"
      serifColor="text-darkBlue"
    />

    <div
      class="flex items-center justify-center w-full h-full py-10 md:py-24 sm:py-8 px-4 relative"
    >
      <div class="w-full flex items-center justify-center">
        <button
          aria-label="slide backward"
          class="absolute z-30 left-[-2.5rem] md:left-[-4rem] rounded-md bg-gold p-3 ml-10 focus:outline-none focus:bg-gray-400 hover:scale-105 ease-in transition-all duration-150 cursor-pointer"
          id="prev"
        >
          <svg
            class="text-pureWhite"
            width="8"
            height="14"
            viewBox="0 0 8 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7 1L1 7L7 13"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </button>
        <button
        aria-label="slide forward"
        class="absolute z-30 right-[-0.15rem] md:right-[-2rem] rounded-md bg-gold p-3 ml-10 focus:outline-none focus:bg-gray-400 hover:scale-105 ease-in transition-all duration-150 cursor-pointer"
        id="next"
      >
        <svg
          class="text-pureWhite outline-none"
          width="8"
          height="14"
          viewBox="0 0 8 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 1L7 7L1 13"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </button>
        <div class="w-full h-full mx-auto overflow-x-hidden overflow-y-hidden">
          <div
            id="slider"
            class="h-full flex lg:gap-8 md:gap-6 gap-14 items-center justify-start transition ease-out duration-700"
          >
            {testimonials.map((t) => {
              return <TestimonialCard name={t.name} text={t.text}/>
            })}
            </div>
            </div>
          </div>
        </div>
       
  </section>

  <section
    id="contact"
    class="contact-wrapper h-auto w-full text-center px-0 py-6 md:px-14 md:py-16 mb-0 bg-darkBlue"
  >
    <Title
      sansColor="text-pureWhite"
      sansTitle="Get In Touch"
      serifColor="text-gold"
      serifTitle="Consultation"
    />
    <div class="contact-form p-5 mx-auto w-full md:w-[70%] mt-7 flex flex-col gap-6">
      <div class="flex items-center justify-between w-full">
        <input
          type="text"
          name="name"
          id="name-inp"
          class="w-[45%] opacity-60 p-2 rounded-sm outline-none"
          placeholder="Name"
        />
        <input
          type="text"
          name="email"
          id="email-inp"
          class="w-[45%] opacity-60 p-2 rounded-sm outline-none"
          placeholder="Email"
        />
      </div>
      <div class="flex items-center justify-between">
        <input
          type="text"
          name="phone"
          id="phone-inp"
          class="w-[45%] opacity-60 p-2 rounded-sm outline-none"
          placeholder="Phone Number"
        />
        <input
          type="text"
          name="subjext"
          id="subject-inp"
          class="w-[45%] opacity-60 p-2 rounded-sm outline-none"
          placeholder="Subject"
        />
      </div>
      <textarea
        name="message"
        id="message-inp"
        cols="30"
        rows="10"
        placeholder="Message"
        class="resize-none w-full opacity-60 p-2 rounded-sm outline-none"
      ></textarea>
      <div class="flex items-center justify-between">
        <button
          id="contact-submit-btn"
          class="bg-gold p-1 md:p-3 w-[48%] text-black text-base capitalize font-normal rounded-sm hover:scale-95 ease-in transition-all"
          >Send as Email</button
        >
        <button
          id="contact-submit-btn-wa"
          class="bg-gold p-1 md:p-3 w-[48%] text-black text-base capitalize font-normal rounded-sm hover:scale-95 ease-in transition-all"
          >Send on WhatsApp</button
        >
      </div>
    </div>
  </section>
</Layout>

<style>
  .home-wrapper {
    background-image: url("../assets/mainBg.webp");
  }
  .contact-wrapper {
    background-image: url("../assets/contactImg.webp");
    background-repeat: no-repeat;
  }
</style>

<script>
  const name = document.getElementById("name-inp") as HTMLInputElement;
  const email = document.getElementById("email-inp") as HTMLInputElement;
  const phone = document.getElementById("phone-inp") as HTMLInputElement;
  const subject = document.getElementById("subject-inp") as HTMLInputElement;
  const message = document.getElementById("message-inp") as HTMLInputElement;

  const submitBtn = document.getElementById(
    "contact-submit-btn"
  ) as HTMLButtonElement;
  const submitBtnWa = document.getElementById(
    "contact-submit-btn-wa"
  ) as HTMLButtonElement;
  const contactBtn = document.getElementById('contact-btn') as HTMLButtonElement;

  const sendToContact = () => {
    window.location.href = "/contact"
  }

  const sendWhatsappMessage = () => {
    window.location.href = `https://wa.me/+919425929329?text=Name:${name.value}%0D%0AEmail:${email.value}%0D%0APhone:${phone.value}%0D%0Asubject:${subject.value}%0D%0A%0D%0AMessage:%0D%0A${message.value}`;
  };

  const sendEmail = () => {
    window.location.href = `mailto:Prashant@Deshmukh.co.in?subject=${subject.value}&body=Name:${name.value}%0D%0AEmail:${email.value}%0D%0APhone:${phone.value}%0D%0A%0D%0AMessage:%0D%0A${message.value}`;
  };

  submitBtn.addEventListener("click", sendEmail);
  submitBtnWa.addEventListener("click", sendWhatsappMessage);
  contactBtn.addEventListener('click', sendToContact)
  let defaultTransform = 0;
  function goNext() {
    defaultTransform = defaultTransform - 85;
    var slider = document.getElementById("slider") as HTMLDivElement;
    if (Math.abs(defaultTransform) >= slider.scrollWidth / 1.7)
      defaultTransform = 0;
    slider.style.transform = "translateX(" + defaultTransform + "px)";
  }
  next.addEventListener("click", goNext);
  function goPrev() {
    var slider = document.getElementById("slider");
    if (Math.abs(defaultTransform) === 0) defaultTransform = 0;
    else defaultTransform = defaultTransform + 398;
    slider.style.transform = "translateX(" + defaultTransform + "px)";
  }
  prev.addEventListener("click", goPrev);
</script>
