---
interface navLinkType {
  to: string;
  name: string;
}
export interface Props {
  navLinks: Array<navLinkType>;
  logo: any;
}

const { navLinks, logo } = Astro.props;
---

<nav class="navbar w-full bg-pureWhite shadow-md md:p-4 md:px-16 p-4 md:mix-blend-color-burn flex justify-between items-center">
  <a href="/"> <img src={logo} alt="deshmukh&CO logo" class="logo" /></a>
  <div class="list-none hidden gap-5 lg:flex md:flex sm:hidden">
    {
      navLinks.map((navItem) => (
        <a href={navItem.to} class="hover:text-gold ease-in transition-all">
          <p>{navItem.name}</p>{" "}
        </a>
      ))
    }
  </div>
  <div id="ham" class="ham lg:hidden md:hidden flex flex-col gap-1 p-4">
    <div class="ham-1 h-1 bg-darkBlue w-10 rounded-md"></div>
    <div class="ham-2 h-1 bg-darkBlue w-8 rounded-md"></div>
    <div class="ham-3 h-1 bg-darkBlue w-10 rounded-md"></div>
  </div>
  <div id="menu" class="z-[100] menu lg:hidden md:hidden flex flex-col items-start justify-start gap-1 px-5 py-5 border-2 border-gold bg-offWhite rounded-md shadow-md absolute right-[15%] top-[5%]">
    {
      navLinks.map((navItem) => (
        <a href={navItem.to} class="hover:text-gold ease-in transition-all">
          <p>{navItem.name}</p>{" "}
        </a>
      ))
    }
  </div>
</nav>


<script>
  const ham = document.getElementById('ham') as HTMLDivElement;
  const menu = document.getElementById('menu') as HTMLDivElement;
  ham.addEventListener('click', () => {
    menu.classList.toggle('hidden')
  })
</script>